<!DOCTYPE html>
<html lang="en">
    <head>
        <title>POST 2810</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <form action="/dangnhap" method="POST">
            <input type="text" placeholder="Email">
            <br><br>
            <input type="password" placeholder="Password">
            <br><br>
            <button>Dang nhap</button>
        </form>
    </body>
</html>
<script src="/reload/reload.js"></script>
